@layer base {
  @keyframes loading-spin {
    to {
      transform: rotate(360deg);
    }
  }
  main[id$="-content"] {
    flex-grow: 1;
  }
  dialog.modal {
    padding: 1rem;
    border-radius: var(--radius-md);
    header {
      padding: 0.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      .close {
        margin-inline-start: auto;
        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}
@layer components {
  .loading-svg {
    animation: loading-spin 1s linear infinite;
  }
}
